In [2]:
a=range(0,10,2)
a

range(0, 10, 2)

In [4]:
for i in range(1,10):
    for j in range(1,i+1):
        q=i*j
        print('i*j = %d   '%q,end='')
    print('\n')

i*j = 1

i*j = 2   i*j = 4

i*j = 3   i*j = 6   i*j = 9

i*j = 4   i*j = 8   i*j = 12   i*j = 16

i*j = 5   i*j = 10   i*j = 15   i*j = 20   i*j = 25

i*j = 6   i*j = 12   i*j = 18   i*j = 24   i*j = 30   i*j = 36

i*j = 7   i*j = 14   i*j = 21   i*j = 28   i*j = 35   i*j = 42   i*j = 49

i*j = 8   i*j = 16   i*j = 24   i*j = 32   i*j = 40   i*j = 48   i*j = 56   i*j = 64

i*j = 9   i*j = 18   i*j = 27   i*j = 36   i*j = 45   i*j = 54   i*j = 63   i*j = 72   i*j = 81

In [5]:
i=0
while 1:
    print('这是第%d次循环'%i)
    i+=1
    if i>5:
        break

这是第0次循环
这是第1次循环
这是第2次循环
这是第3次循环
这是第4次循环
这是第5次循环

In [ ]:
for i in range(0,5):
    num = int(input('请输入你对本次抓娃娃需要多少秒（1~60秒）：'))
    if num > 30:
        print('时间到啦，机器自动给你抓了！')
    else:
        print('你本次用了%d秒抓了一下'%num)

请输入你对本次抓娃娃需要多少秒（1~60秒）：15
你本次用了15秒抓了一下
请输入你对本次抓娃娃需要多少秒（1~60秒）：40
时间到啦，机器自动给你抓了！
请输入你对本次抓娃娃需要多少秒（1~60秒）：70
时间到啦，机器自动给你抓了！
请输入你对本次抓娃娃需要多少秒（1~60秒）：1
你本次用了1秒抓了一下

In [1]:
for i in range(0,5):
    num = int(input('请输入你对本次抓娃娃需要多少秒（1~60秒）：'))
    if num > 30:
        print('时间到啦，机器自动给你抓了！')
        continue
    print('你本次用了%d秒抓了一下'%num)

请输入你对本次抓娃娃需要多少秒（1~60秒）：1
你本次用了1秒抓了一下
请输入你对本次抓娃娃需要多少秒（1~60秒）：50
时间到啦，机器自动给你抓了！
请输入你对本次抓娃娃需要多少秒（1~60秒）：1
你本次用了1秒抓了一下
请输入你对本次抓娃娃需要多少秒（1~60秒）：5
你本次用了5秒抓了一下
请输入你对本次抓娃娃需要多少秒（1~60秒）：60
时间到啦，机器自动给你抓了！

In [2]:
list1=[1,2,3,4]
list1*3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [4]:
for i in list1:
    print(i)

1
2
3
4

In [5]:
list3=[1,2,3,4,5]
list3.insert(2,'a')
list3

[1, 2, 'a', 3, 4, 5]

In [6]:
list3.insert(4,['b','c']) # 在第几个位置插入元素或者列表
list3

[1, 2, 'a', 3, ['b', 'c'], 4, 5]

In [7]:
list3 = [1,2,3,4,5]
list3.pop()  #pop 返回删除的值

5

In [8]:
list3

[1, 2, 3, 4]

In [11]:
list4 =[1,2,3,4]
list4.remove(2)  #remove 删除的值不返回

In [12]:
list4

[1, 3, 4]

In [15]:
list4.reverse()
list4

[4, 3, 1]

In [16]:
list4[::-1]

[1, 3, 4]

In [17]:
list5 = [2,1,4,5,4,6,8]
list5

[2, 1, 4, 5, 4, 6, 8]

In [18]:
list5.sort()#对原列表进行排序

In [19]:
list5

[1, 2, 4, 4, 5, 6, 8]

In [20]:
list5.sort(reverse=True)#对原列表进行逆排序

In [21]:
list5

[8, 6, 5, 4, 4, 2, 1]

In [27]:
list6 = [1,2,3,4,5,6]
list6

[1, 2, 3, 4, 5, 6]

In [28]:
del list6[0]
list6

[2, 3, 4, 5, 6]

In [29]:
del list6[1:3]
list6

[2, 5, 6]

In [30]:
list1 = [1**2,2**2,3**2,4**2,5**2]
list1

[1, 4, 9, 16, 25]

In [31]:
list1=[]
for i in range(1,11):
    list1.append(i**2)
print(list1)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [32]:
[i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [34]:
[i*j for j in range(1,i) for i in range(1,10) if j<=i]

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 16,
 20,
 24,
 28,
 32,
 36,
 25,
 30,
 35,
 40,
 45,
 36,
 42,
 48,
 54,
 49,
 56,
 63,
 64,
 72,
 81]

In [36]:
[m+n for m in 'ABC' for n in 'abc']

['Aa', 'Ab', 'Ac', 'Ba', 'Bb', 'Bc', 'Ca', 'Cb', 'Cc']

In [38]:
[x**2 for x in range(1,11) if x%3==0]

[9, 36, 81]

In [39]:
a=1,2,3
a

(1, 2, 3)

In [40]:
type(a)

tuple

In [41]:
tuplel = ('a',1,2.33,[1,'a'],(1,3,5))#创建元组

In [42]:
tuplel

('a', 1, 2.33, [1, 'a'], (1, 3, 5))

In [43]:
tuple2 = 1,
tuple2

(1,)

In [44]:
tuple3 = (1)

In [46]:
tuple3

1

In [47]:
type(tuple3)

int

In [48]:
tuple4 = (1,)
tuple4

(1,)

In [49]:
tuple5 = ()
tuple5

()

In [50]:
tuple6 = (1,2,3,4,5,6,7)
tuple6

(1, 2, 3, 4, 5, 6, 7)

In [51]:
tuple6[3]

4

In [52]:
tuple6[1:3]

(2, 3)

In [53]:
tuple6[5:3:-1]

(6, 5)

In [54]:
tuple7 = (1,3)
tuple6+tuple7

(1, 2, 3, 4, 5, 6, 7, 1, 3)

In [55]:
tuple7*3

(1, 3, 1, 3, 1, 3)

In [56]:
for i in tuple6:
    print(i)

1
2
3
4
5
6
7

In [57]:
max(tuple6)

7

In [58]:
len(tuple6)

7

In [59]:
tuple1 = (1,2,3,4,5)
tuple1

(1, 2, 3, 4, 5)

In [60]:
list(tuple1)

[1, 2, 3, 4, 5]

In [61]:
list1 = [1,2,3,4,5]
list1

[1, 2, 3, 4, 5]

In [62]:
tuple(list1)

(1, 2, 3, 4, 5)

In [1]:
tuple =1,2,3,4
tuple

(1, 2, 3, 4)

In [2]:
a,b,c,d=tuple
print(a,b,c,d)

1 2 3 4

In [3]:
dict4=dict([('bob',18),('alice',17)])

In [4]:
dict4

{'alice': 17, 'bob': 18}

In [5]:
dict5 = dict((['bob',18],['alice',17]))

In [6]:
dict5

{'alice': 17, 'bob': 18}

In [7]:
dict6=dict((('bob',18),('alice',17)))

In [8]:
dict6

{'alice': 17, 'bob': 18}

In [9]:
dict7=dict([['bob',18],['alice',17]])
dict7

{'alice': 17, 'bob': 18}

In [10]:
dict8=dict(bob=18,alice=17)
dict8

{'alice': 17, 'bob': 18}

In [15]:
dict9 = {1:18,2:17}
dict9

{1: 18, 2: 17}

In [17]:
dict6

{'alice': 17, 'bob': 18}

In [18]:
dict6['bob']

18

In [19]:
'bob' in dict6

True

In [20]:
dict6['tom']=19

In [21]:
dict6

{'alice': 17, 'bob': 18, 'tom': 19}

In [22]:
del dict6['bob']

In [23]:
dict6

{'alice': 17, 'tom': 19}

In [24]:
dict6

{'alice': 17, 'tom': 19}

In [26]:
dict6.keys()

dict_keys(['alice', 'tom'])

In [27]:
dict6.values()

dict_values([17, 19])

In [28]:
dict6

{'alice': 17, 'tom': 19}

In [29]:
dict6.items()  #返回包含所有（键，值）项的列表

dict_items([('alice', 17), ('tom', 19)])