In [23]:
!type D:\pythondata\renzhengyonghu.csv

renshu,qudao,andriod,ios
3,appstore,3,0
7,App_Store,0,7
5,huawei,5,0
3,meizu,3,0
5,oppo,5,0
1,qutoutiao,1,0
3,qutoutiao03,3,0
1,qutoutiao04,1,0
2,qutoutiao05,2,0
1,qutoutiao08,1,0
1,qutoutiao09,1,0
2,qutoutiao10,2,0
5,tencent,5,0
3,toutiao,3,0
4,vivo,4,0
15,wap,9,6
2,xiaomi,2,0

In [25]:
import numpy as np
import pandas as pd
from pandas import DataFrame,Series
df = pd.read_csv(r'D:\pythondata\renzhengyonghu.csv')
df

    renshu        qudao  andriod  ios
0        3     appstore        3    0
1        7    App_Store        0    7
2        5       huawei        5    0
3        3        meizu        3    0
4        5         oppo        5    0
5        1    qutoutiao        1    0
6        3  qutoutiao03        3    0
7        1  qutoutiao04        1    0
8        2  qutoutiao05        2    0
9        1  qutoutiao08        1    0
10       1  qutoutiao09        1    0
11       2  qutoutiao10        2    0
12       5      tencent        5    0
13       3      toutiao        3    0
14       4         vivo        4    0
15      15          wap        9    6
16       2       xiaomi        2    0

In [26]:
#也可以用read_table,只不过需要指定分隔符
pd.read_table(r'D:\pythondata\renzhengyonghu.csv',sep=',')

    renshu        qudao  andriod  ios
0        3     appstore        3    0
1        7    App_Store        0    7
2        5       huawei        5    0
3        3        meizu        3    0
4        5         oppo        5    0
5        1    qutoutiao        1    0
6        3  qutoutiao03        3    0
7        1  qutoutiao04        1    0
8        2  qutoutiao05        2    0
9        1  qutoutiao08        1    0
10       1  qutoutiao09        1    0
11       2  qutoutiao10        2    0
12       5      tencent        5    0
13       3      toutiao        3    0
14       4         vivo        4    0
15      15          wap        9    6
16       2       xiaomi        2    0

In [27]:
#假设文件没有标题行，用header=none自定义标题行
pd.read_csv(r'D:\pythondata\renzhengyonghu.csv',header=None)

         0            1        2    3
0   renshu        qudao  andriod  ios
1        3     appstore        3    0
2        7    App_Store        0    7
3        5       huawei        5    0
4        3        meizu        3    0
5        5         oppo        5    0
6        1    qutoutiao        1    0
7        3  qutoutiao03        3    0
8        1  qutoutiao04        1    0
9        2  qutoutiao05        2    0
10       1  qutoutiao08        1    0
11       1  qutoutiao09        1    0
12       2  qutoutiao10        2    0
13       5      tencent        5    0
14       3      toutiao        3    0
15       4         vivo        4    0
16      15          wap        9    6
17       2       xiaomi        2    0

In [28]:
#给标题行命名
pd.read_csv(r'D:\pythondata\renzhengyonghu.csv',names=['a','b','c','d'])

         a            b        c    d
0   renshu        qudao  andriod  ios
1        3     appstore        3    0
2        7    App_Store        0    7
3        5       huawei        5    0
4        3        meizu        3    0
5        5         oppo        5    0
6        1    qutoutiao        1    0
7        3  qutoutiao03        3    0
8        1  qutoutiao04        1    0
9        2  qutoutiao05        2    0
10       1  qutoutiao08        1    0
11       1  qutoutiao09        1    0
12       2  qutoutiao10        2    0
13       5      tencent        5    0
14       3      toutiao        3    0
15       4         vivo        4    0
16      15          wap        9    6
17       2       xiaomi        2    0

In [29]:
#指定索引的位置
names = ['a','b','c','message']
pd.read_csv(r'D:\pythondata\renzhengyonghu.csv',names=names,index_col='message')

              a            b        c
message
ios      renshu        qudao  andriod
0             3     appstore        3
7             7    App_Store        0
0             5       huawei        5
0             3        meizu        3
0             5         oppo        5
0             1    qutoutiao        1
0             3  qutoutiao03        3
0             1  qutoutiao04        1
0             2  qutoutiao05        2
0             1  qutoutiao08        1
0             1  qutoutiao09        1
0             2  qutoutiao10        2
0             5      tencent        5
0             3      toutiao        3
0             4         vivo        4
6            15          wap        9
0             2       xiaomi        2