In [23]:
!type D:\pythondata\renzhengyonghu.csv

renshu,qudao,andriod,ios
3,appstore,3,0
7,App_Store,0,7
5,huawei,5,0
3,meizu,3,0
5,oppo,5,0
1,qutoutiao,1,0
3,qutoutiao03,3,0
1,qutoutiao04,1,0
2,qutoutiao05,2,0
1,qutoutiao08,1,0
1,qutoutiao09,1,0
2,qutoutiao10,2,0
5,tencent,5,0
3,toutiao,3,0
4,vivo,4,0
15,wap,9,6
2,xiaomi,2,0

In [25]:
import numpy as np
import pandas as pd
from pandas import DataFrame,Series
df = pd.read_csv(r'D:\pythondata\renzhengyonghu.csv')
df

    renshu        qudao  andriod  ios
0        3     appstore        3    0
1        7    App_Store        0    7
2        5       huawei        5    0
3        3        meizu        3    0
4        5         oppo        5    0
5        1    qutoutiao        1    0
6        3  qutoutiao03        3    0
7        1  qutoutiao04        1    0
8        2  qutoutiao05        2    0
9        1  qutoutiao08        1    0
10       1  qutoutiao09        1    0
11       2  qutoutiao10        2    0
12       5      tencent        5    0
13       3      toutiao        3    0
14       4         vivo        4    0
15      15          wap        9    6
16       2       xiaomi        2    0

In [26]:
#也可以用read_table,只不过需要指定分隔符
pd.read_table(r'D:\pythondata\renzhengyonghu.csv',sep=',')

    renshu        qudao  andriod  ios
0        3     appstore        3    0
1        7    App_Store        0    7
2        5       huawei        5    0
3        3        meizu        3    0
4        5         oppo        5    0
5        1    qutoutiao        1    0
6        3  qutoutiao03        3    0
7        1  qutoutiao04        1    0
8        2  qutoutiao05        2    0
9        1  qutoutiao08        1    0
10       1  qutoutiao09        1    0
11       2  qutoutiao10        2    0
12       5      tencent        5    0
13       3      toutiao        3    0
14       4         vivo        4    0
15      15          wap        9    6
16       2       xiaomi        2    0

In [27]:
#假设文件没有标题行，用header=none自定义标题行
pd.read_csv(r'D:\pythondata\renzhengyonghu.csv',header=None)

         0            1        2    3
0   renshu        qudao  andriod  ios
1        3     appstore        3    0
2        7    App_Store        0    7
3        5       huawei        5    0
4        3        meizu        3    0
5        5         oppo        5    0
6        1    qutoutiao        1    0
7        3  qutoutiao03        3    0
8        1  qutoutiao04        1    0
9        2  qutoutiao05        2    0
10       1  qutoutiao08        1    0
11       1  qutoutiao09        1    0
12       2  qutoutiao10        2    0
13       5      tencent        5    0
14       3      toutiao        3    0
15       4         vivo        4    0
16      15          wap        9    6
17       2       xiaomi        2    0

In [28]:
#给标题行命名
pd.read_csv(r'D:\pythondata\renzhengyonghu.csv',names=['a','b','c','d'])

         a            b        c    d
0   renshu        qudao  andriod  ios
1        3     appstore        3    0
2        7    App_Store        0    7
3        5       huawei        5    0
4        3        meizu        3    0
5        5         oppo        5    0
6        1    qutoutiao        1    0
7        3  qutoutiao03        3    0
8        1  qutoutiao04        1    0
9        2  qutoutiao05        2    0
10       1  qutoutiao08        1    0
11       1  qutoutiao09        1    0
12       2  qutoutiao10        2    0
13       5      tencent        5    0
14       3      toutiao        3    0
15       4         vivo        4    0
16      15          wap        9    6
17       2       xiaomi        2    0

In [29]:
#指定索引的位置
names = ['a','b','c','message']
pd.read_csv(r'D:\pythondata\renzhengyonghu.csv',names=names,index_col='message')

              a            b        c
message
ios      renshu        qudao  andriod
0             3     appstore        3
7             7    App_Store        0
0             5       huawei        5
0             3        meizu        3
0             5         oppo        5
0             1    qutoutiao        1
0             3  qutoutiao03        3
0             1  qutoutiao04        1
0             2  qutoutiao05        2
0             1  qutoutiao08        1
0             1  qutoutiao09        1
0             2  qutoutiao10        2
0             5      tencent        5
0             3      toutiao        3
0             4         vivo        4
6            15          wap        9
0             2       xiaomi        2

In [20]:
!type E:\Pythondata\ch06\ex2.csv

key1,key2,values1,values2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

In [21]:
import numpy as np
import pandas as pd
parsed =pd.read_csv('E:\Pythondata\ch06\ex2.csv',index_col=['key1','key2'])
parsed

           values1  values2
key1 key2
one  a           1        2
     b           3        4
     c           5        6
     d           7        8
two  a           9       10
     b          11       12
     c          13       14
     d          15       16

In [22]:
list(open('E:\Pythondata\ch06\ex3.txt'))

['a   b    c    d\n',
 'aaa -0.2  -0.1 2.5\n',
 'bb  3.2   -0.5  2.6\n',
 'cccc 1.2   -0.6 1.2\n']

In [23]:
#非固定模式的分隔符分隔字段的用\s+表示
result = pd.read_table('E:\Pythondata\ch06\ex3.txt',sep='\s+')
result

      a    b    c    d
0   aaa -0.2 -0.1  2.5
1    bb  3.2 -0.5  2.6
2  cccc  1.2 -0.6  1.2

In [17]:
!type E:\Pythondata\ch06ex4.csv

#hey!
a,b,c,d,message
#just wanted to make thing more difficult for you
#who reads csv files with computers,anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [24]:
#skiprows跳过文件的第一行，第三行，第四行
pd.read_csv('E:\Pythondata\ch06\ex4.csv',skiprows=[0,2,3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [25]:
!type E:\Pythondata\ch06\ex5.csv

#hey!
a,b,c,d,message
#just wanted to make thing more difficult for you
#who reads csv files with computers,anyway?
1,2,3,4,NA
5,6,,8,world
9,10,11,12,foo

In [27]:
result = pd.read_csv('E:\Pythondata\ch06\ex5.csv',skiprows=[0,2,3])
result

   a   b     c   d message
0  1   2   3.0   4     NaN
1  5   6   NaN   8   world
2  9  10  11.0  12     foo

In [28]:
pd.isnull(result)

       a      b      c      d  message
0  False  False  False  False     True
1  False  False   True  False    False
2  False  False  False  False    False

In [30]:
#na_values可以接受一组用于表示缺失值的字符串
result= pd.read_csv('E:\Pythondata\ch06\ex5.csv',na_values=['null'],skiprows=[0,2,3])
result

   a   b     c   d message
0  1   2   3.0   4     NaN
1  5   6   NaN   8   world
2  9  10  11.0  12     foo

In [34]:
#用一个字典为各列指定不同的NA标记值
sentinels = {'message':['foo','NA'],'b':['6']}
pd.read_csv('E:\Pythondata\ch06\ex5.csv',na_values = sentinels,skiprows=[0,2,3])

   a     b     c   d message
0  1   2.0   3.0   4     NaN
1  5   NaN   NaN   8   world
2  9  10.0  11.0  12     NaN

In [39]:
pd.read_csv('E:\Pythondata\ch06\ex5.csv',nrows=2,skiprows=[0,2,3])

   a  b    c  d message
0  1  2  3.0  4     NaN
1  5  6  NaN  8   world

In [43]:
data = pd.read_csv('E:\Pythondata\ch06\ex5.csv',skiprows=[0,2,3])
data

   a   b     c   d message
0  1   2   3.0   4     NaN
1  5   6   NaN   8   world
2  9  10  11.0  12     foo

In [44]:
data.to_csv('E:\Pythondata\ch06\out.csv')

In [45]:
!type E:\Pythondata\ch06\out.csv

,a,b,c,d,message
0,1,2,3.0,4,
1,5,6,,8,world
2,9,10,11.0,12,foo

In [49]:
#直接写出到sys.stdout，所以仅仅打印出文本
import sys
data.to_csv(sys.stdout,sep='|')

|a|b|c|d|message
0|1|2|3.0|4|
1|5|6||8|world
2|9|10|11.0|12|foo

In [50]:
#sys.stdout等同于print()
data.to_csv(print(),sep='|')

'|a|b|c|d|message\n0|1|2|3.0|4|\n1|5|6||8|world\n2|9|10|11.0|12|foo\n'

In [51]:
#缺失值表示为空字符串
data.to_csv(sys.stdout,na_rep='NULL')

,a,b,c,d,message
0,1,2,3.0,4,NULL
1,5,6,NULL,8,world
2,9,10,11.0,12,foo

In [52]:
#行列标签禁用
data.to_csv(sys.stdout,index=False,header=False)

1,2,3.0,4,
5,6,,8,world
9,10,11.0,12,foo

In [54]:
#按指定顺序排序
data.to_csv(sys.stdout,index=False,columns=['a','b','c'])

a,b,c
1,2,3.0
5,6,
9,10,11.0