In [1]:
import numpy as np 
import pandas as pd 
from pandas import Series,DataFrame
df = DataFrame({'key1':['a','a','b','b','a'],
               'key2':['one','two','one','two','one'],
               'data1':np.random.randn(5),'data2':np.random.randn(5)})
df

      data1     data2 key1 key2
0  0.404387 -1.160490    a  one
1  0.966252 -0.401988    a  two
2  0.381275 -0.509399    b  one
3 -1.023942 -0.308016    b  two
4 -0.229106  0.466426    a  one

In [2]:
grouped = df['data1'].groupby(df['key1'])
grouped

In [3]:
grouped.mean()

key1
a    0.380511
b   -0.321334
Name: data1, dtype: float64