In [1]:
from datetime import datetime

In [2]:
now = datetime.now()

In [3]:
now

datetime.datetime(2018, 6, 26, 16, 45, 34, 912000)

In [4]:
now.year,now.month,now.day

(2018, 6, 26)

In [5]:
delta = datetime(2011,1,7)-datetime(2008,6,24,8,15)

In [6]:
delta

datetime.timedelta(926, 56700)

In [7]:
delta.days

926

In [8]:
delta.seconds

56700

In [9]:
from datetime import timedelta

In [10]:
start = datetime(2011,1,7)

In [11]:
start + timedelta (12)

datetime.datetime(2011, 1, 19, 0, 0)

In [12]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

In [3]:
stamp = datetime(2011,1,3)

In [4]:
str(stamp)

'2011-01-03 00:00:00'

In [5]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [6]:
value = '2011-01-03'

In [7]:
datetime.strptime(value,'%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [8]:
datestrs = ['7/6/2011','8/6/2011']

In [9]:
[datetime.strptime(x,'%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [10]:
from dateutil.parser import parse

In [11]:
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [14]:
parse('Jan 31,1998 10:45 PM')

datetime.datetime(2018, 1, 31, 22, 45)

In [15]:
parse('6/12/2011',dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [16]:
datestrs

['7/6/2011', '8/6/2011']

In [19]:
import pandas as pd
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06', '2011-08-06'], dtype='datetime64[ns]', freq=None)

In [20]:
idx = pd.to_datetime(datestrs + [None])

In [21]:
idx

DatetimeIndex(['2011-07-06', '2011-08-06', 'NaT'], dtype='datetime64[ns]', freq=None)

In [22]:
idx[2]

NaT

In [23]:
#Nat 是 pandas 中时间戳数据的NA值
pd.isnull(idx)

array([False, False,  True], dtype=bool)

In [4]:
from datetime import datetime

In [5]:
dates = [datetime(2011,1,2),datetime(2011,1,5),datetime(2011,1,7),datetime(2011,1,8),
         datetime(2011,1,10),datetime(2011,1,12)]

In [6]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
ts = Series(np.random.randn(6),index=dates)

In [4]:
ts

2011-01-02   -0.943485
2011-01-05   -0.706493
2011-01-07    0.069456
2011-01-08   -0.151683
2011-01-10    1.280153
2011-01-12    0.629931
dtype: float64

In [5]:
type(ts)

pandas.core.series.Series

In [6]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [7]:
ts + ts[::2]

2011-01-02   -1.886970
2011-01-05         NaN
2011-01-07    0.138913
2011-01-08         NaN
2011-01-10    2.560306
2011-01-12         NaN
dtype: float64

In [8]:
ts.index.dtype

dtype('<M8[ns]')

In [9]:
stamp = ts.index[0]

In [10]:
stamp

Timestamp('2011-01-02 00:00:00')

In [11]:
stamp = ts.index[2]

In [12]:
ts[stamp]

0.069456401720695102

In [13]:
ts['1/10/2011']

1.2801528474992463

In [14]:
ts['20110110']

1.2801528474992463

In [15]:
longer_ts = Series(np.random.randn(1000),index=pd.date_range('1/1/2000',periods=1000))

In [16]:
longer_ts

2000-01-01   -0.251716
2000-01-02    0.772305
2000-01-03   -0.127171
2000-01-04    0.709473
2000-01-05    0.301031
2000-01-06    0.379127
2000-01-07   -0.153285
2000-01-08    0.146268
2000-01-09    1.628428
2000-01-10   -0.592364
2000-01-11    0.360955
2000-01-12    1.377943
2000-01-13    1.249621
2000-01-14   -0.057672
2000-01-15    0.470762
2000-01-16    0.894004
2000-01-17   -0.008821
2000-01-18   -0.137677
2000-01-19    2.307409
2000-01-20   -0.406238
2000-01-21    1.696148
2000-01-22   -0.678099
2000-01-23    0.265728
2000-01-24    1.749313
2000-01-25    1.310481
2000-01-26    0.491291
2000-01-27    1.414646
2000-01-28   -1.294799
2000-01-29   -0.764900
2000-01-30   -0.538777
                ...
2002-08-28    0.190979
2002-08-29   -1.104765
2002-08-30   -0.740096
2002-08-31    0.913605
2002-09-01   -0.278757
2002-09-02   -1.102450
2002-09-03    0.041888
2002-09-04   -1.226026
2002-09-05    0.812932
2002-09-06   -1.463560
2002-09-07   -1.214955
2002-09-08   -1.347534
2002-09-09   -1.918247
2002-09-10   -0.753969
2002-09-11    0.175019
2002-09-12    0.809911
2002-09-13   -0.795840
2002-09-14   -1.758249
2002-09-15   -0.253144
2002-09-16    2.154402
2002-09-17    1.733448
2002-09-18    3.057457
2002-09-19   -0.145263
2002-09-20   -0.178443
2002-09-21   -0.724658
2002-09-22   -0.180209
2002-09-23    0.325803
2002-09-24    0.528465
2002-09-25   -2.985512
2002-09-26   -0.251395
Freq: D, Length: 1000, dtype: float64

In [17]:
longer_ts['2001']

2001-01-01   -0.313103
2001-01-02   -0.981363
2001-01-03    0.060632
2001-01-04    0.010607
2001-01-05    1.362289
2001-01-06    0.582185
2001-01-07   -0.431109
2001-01-08   -1.143766
2001-01-09    0.358723
2001-01-10   -0.738534
2001-01-11    0.423004
2001-01-12    0.405674
2001-01-13    1.260991
2001-01-14   -0.614876
2001-01-15    0.303696
2001-01-16    0.803188
2001-01-17    1.937444
2001-01-18    1.588345
2001-01-19   -1.682869
2001-01-20    0.665192
2001-01-21   -1.942054
2001-01-22   -0.571005
2001-01-23   -0.172620
2001-01-24   -1.995850
2001-01-25    0.262599
2001-01-26    0.786551
2001-01-27   -0.636770
2001-01-28    0.865204
2001-01-29   -0.034096
2001-01-30    0.740506
                ...
2001-12-02   -0.595065
2001-12-03   -0.628765
2001-12-04   -1.225910
2001-12-05    0.242661
2001-12-06   -0.811765
2001-12-07    0.072077
2001-12-08   -0.856963
2001-12-09   -0.480919
2001-12-10    0.734661
2001-12-11   -0.132521
2001-12-12   -0.445839
2001-12-13    0.953168
2001-12-14   -1.397729
2001-12-15    1.430316
2001-12-16   -0.504258
2001-12-17    0.558522
2001-12-18    0.924204
2001-12-19   -0.061849
2001-12-20    0.894185
2001-12-21   -1.179327
2001-12-22   -0.500067
2001-12-23   -0.161416
2001-12-24    1.546676
2001-12-25    0.047459
2001-12-26    0.534379
2001-12-27   -0.250415
2001-12-28   -0.331526
2001-12-29    0.295289
2001-12-30    0.260149
2001-12-31   -1.368607
Freq: D, Length: 365, dtype: float64

In [18]:
longer_ts['2001-05']

2001-05-01   -0.030778
2001-05-02    0.817826
2001-05-03    0.338911
2001-05-04    0.036809
2001-05-05    1.649116
2001-05-06    0.320425
2001-05-07   -0.466999
2001-05-08    0.233797
2001-05-09   -0.884259
2001-05-10    0.171963
2001-05-11    0.399516
2001-05-12   -0.776385
2001-05-13    0.556614
2001-05-14    2.050040
2001-05-15    0.622720
2001-05-16    1.265319
2001-05-17   -1.368668
2001-05-18   -0.531511
2001-05-19    0.135118
2001-05-20   -0.293226
2001-05-21    0.095638
2001-05-22    1.332938
2001-05-23   -1.020951
2001-05-24    0.215413
2001-05-25   -0.456968
2001-05-26   -1.077400
2001-05-27    0.035210
2001-05-28    0.777553
2001-05-29   -0.166677
2001-05-30    0.373457
2001-05-31   -0.197293
Freq: D, dtype: float64

In [19]:
ts[datetime(2011,1,7):]

2011-01-07    0.069456
2011-01-08   -0.151683
2011-01-10    1.280153
2011-01-12    0.629931
dtype: float64

In [20]:
ts

2011-01-02   -0.943485
2011-01-05   -0.706493
2011-01-07    0.069456
2011-01-08   -0.151683
2011-01-10    1.280153
2011-01-12    0.629931
dtype: float64

In [21]:
ts['1/6/2011':'1/11/2011']

2011-01-07    0.069456
2011-01-08   -0.151683
2011-01-10    1.280153
dtype: float64

In [22]:
ts.truncate(after='1/9/2011')

2011-01-02   -0.943485
2011-01-05   -0.706493
2011-01-07    0.069456
2011-01-08   -0.151683
dtype: float64

In [23]:
dates = pd.date_range('1/1/2000',periods=100,freq='W-WED')

In [24]:
long_df = DataFrame(np.random.randn(100,4),index=dates,
                   columns=['Colorado','Texas','New York','Ohio'])

In [25]:
long_df.ix['5-2001']

D:\anaconde\anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

            Colorado     Texas  New York      Ohio
2001-05-02  0.285347 -2.434060  0.754462 -0.860444
2001-05-09  0.337423  0.276407 -2.436540 -0.439113
2001-05-16 -0.407938  0.854869 -0.383887  0.333865
2001-05-23 -1.272256 -1.881726 -0.106284 -1.563232
2001-05-30  0.590762 -0.033982 -1.253555 -1.109067

In [26]:
dates = pd.DatetimeIndex(['1/1/2000','1/2/2000','1/2/2000','1/2/2000','1/3/2000'])

In [27]:
dup_ts = Series(np.arange(5),index=dates)

In [28]:
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [29]:
dup_ts.index.is_unique

False

In [30]:
dup_ts['1/3/2000']

4

In [31]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [32]:
grouped = dup_ts.groupby(level=0)

In [33]:
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int32

In [34]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

In [35]:
ts

2011-01-02   -0.943485
2011-01-05   -0.706493
2011-01-07    0.069456
2011-01-08   -0.151683
2011-01-10    1.280153
2011-01-12    0.629931
dtype: float64

In [36]:
ts.resample('D')

DatetimeIndexResampler [freq=<Day>, axis=0, closed=left, label=left, convention=start, base=0]

In [37]:
index = pd.date_range('4/1/2012','6/1/2012')

In [38]:
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [39]:
pd.date_range(start='4/1/2012',periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [40]:
pd.date_range(end='6/1/2012',periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [41]:
pd.date_range('1/1/2000','12/1/2000',freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [42]:
pd.date_range('5/2/2012 12:56:31',periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [43]:
pd.date_range('5/2/2012 12:56:31',periods=5,normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

In [44]:
from pandas.tseries.offsets import Hour,Minute

In [45]:
hour = Hour()

In [46]:
hour

In [47]:
four_hours = Hour(4)

In [48]:
four_hours

In [49]:
pd.date_range('1/1/2000','1/3/2000 23:59',freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [50]:
Hour(2) + Minute(30)

In [51]:
pd.date_range('1/1/2000',periods=10,freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [52]:
rng = pd.date_range('1/1/2012','9/1/2012',freq='WOM-3FRI')

In [53]:
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

In [54]:
ts = Series(np.random.randn(4),index=pd.date_range('1/1/2000',periods=4,freq='M'))

In [55]:
ts

2000-01-31   -0.596604
2000-02-29   -1.553282
2000-03-31    0.548423
2000-04-30   -0.013773
Freq: M, dtype: float64

In [56]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31   -0.596604
2000-04-30   -1.553282
Freq: M, dtype: float64

In [57]:
ts.shift(-2)

2000-01-31    0.548423
2000-02-29   -0.013773
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [89]:
ts / ts.shift(1)-1

2000-01-31         NaN
2000-02-29   -2.728901
2000-03-31   -1.710929
2000-04-30    0.471800
Freq: M, dtype: float64

In [58]:
ts.shift(2,freq = 'M')

2000-03-31   -0.596604
2000-04-30   -1.553282
2000-05-31    0.548423
2000-06-30   -0.013773
Freq: M, dtype: float64

In [59]:
ts.shift(3,freq = 'D')

2000-02-03   -0.596604
2000-03-03   -1.553282
2000-04-03    0.548423
2000-05-03   -0.013773
dtype: float64

In [60]:
ts.shift(1,freq = '3D')

2000-02-03   -0.596604
2000-03-03   -1.553282
2000-04-03    0.548423
2000-05-03   -0.013773
dtype: float64

In [61]:
ts.shift(1,freq = '90T')

2000-01-31 01:30:00   -0.596604
2000-02-29 01:30:00   -1.553282
2000-03-31 01:30:00    0.548423
2000-04-30 01:30:00   -0.013773
Freq: M, dtype: float64

In [62]:
from pandas.tseries.offsets import Day,MonthEnd

In [63]:
now = datetime(2011,11,17)

In [64]:
now + 3 * Day()

Timestamp('2011-11-20 00:00:00')

In [65]:
now + MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [66]:
now + MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [67]:
offset = MonthEnd()

In [68]:
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [69]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [70]:
ts = Series(np.random.randn(20),index=pd.date_range('1/15/2000',periods=20,freq='4d'))

In [71]:
ts.groupby(offset.rollforward).mean()

2000-01-31   -0.111112
2000-02-29    0.441902
2000-03-31    0.429885
dtype: float64

In [72]:
ts.resample('M',how='mean')

D:\anaconde\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).mean()
  """Entry point for launching an IPython kernel.

2000-01-31   -0.111112
2000-02-29    0.441902
2000-03-31    0.429885
Freq: M, dtype: float64

In [73]:
import pytz

In [74]:
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [75]:
tz = pytz.timezone('US/Eastern')

In [76]:
tz

In [77]:
rng = pd.date_range('3/9/2012 9:30',periods=6,freq='D')

In [78]:
ts = Series(np.random.randn(len(rng)),index=rng)

In [79]:
print(ts.index.tz)

None

In [80]:
pd.date_range('3/9/2012 9:30',periods=10,freq='D',tz='UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [83]:
ts_utc = ts.tz_localize('UTC')

In [84]:
ts_utc

2012-03-09 09:30:00+00:00    1.766152
2012-03-10 09:30:00+00:00    0.109459
2012-03-11 09:30:00+00:00    0.385807
2012-03-12 09:30:00+00:00   -1.277119
2012-03-13 09:30:00+00:00   -0.980020
2012-03-14 09:30:00+00:00   -0.104054
Freq: D, dtype: float64

In [85]:
ts_utc.index

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [86]:
ts_utc.tz_convert('US/Eastern')

2012-03-09 04:30:00-05:00    1.766152
2012-03-10 04:30:00-05:00    0.109459
2012-03-11 05:30:00-04:00    0.385807
2012-03-12 05:30:00-04:00   -1.277119
2012-03-13 05:30:00-04:00   -0.980020
2012-03-14 05:30:00-04:00   -0.104054
Freq: D, dtype: float64

In [87]:
ts_eastern = ts.tz_localize('US/Eastern')

In [89]:
ts_eastern.tz_convert('UTC')

2012-03-09 14:30:00+00:00    1.766152
2012-03-10 14:30:00+00:00    0.109459
2012-03-11 13:30:00+00:00    0.385807
2012-03-12 13:30:00+00:00   -1.277119
2012-03-13 13:30:00+00:00   -0.980020
2012-03-14 13:30:00+00:00   -0.104054
Freq: D, dtype: float64

In [90]:
ts_eastern.tz_convert('Europe/Berlin')

2012-03-09 15:30:00+01:00    1.766152
2012-03-10 15:30:00+01:00    0.109459
2012-03-11 14:30:00+01:00    0.385807
2012-03-12 14:30:00+01:00   -1.277119
2012-03-13 14:30:00+01:00   -0.980020
2012-03-14 14:30:00+01:00   -0.104054
Freq: D, dtype: float64

In [91]:
ts.index.tz_localize('Asia/Shanghai')

DatetimeIndex(['2012-03-09 09:30:00+08:00', '2012-03-10 09:30:00+08:00',
               '2012-03-11 09:30:00+08:00', '2012-03-12 09:30:00+08:00',
               '2012-03-13 09:30:00+08:00', '2012-03-14 09:30:00+08:00'],
              dtype='datetime64[ns, Asia/Shanghai]', freq='D')

In [92]:
stamp = pd.Timestamp('2011-03-12 04:00')

In [93]:
stamp_utc = stamp.tz_localize('utc')

In [94]:
stamp_utc.tz_convert('US/Eastern')

Timestamp('2011-03-11 23:00:00-0500', tz='US/Eastern')

In [95]:
stamp_moscow = pd.Timestamp('2011-03-12 04:00',tz='Europe/Moscow')

In [96]:
stamp_moscow

Timestamp('2011-03-12 04:00:00+0300', tz='Europe/Moscow')

In [97]:
stamp_utc.tz_convert('US/Eastern').value

1299902400000000000

In [98]:
stamp_utc.value

1299902400000000000

In [7]:
#夏令时转变前30分钟
from pandas.tseries.offsets import Hour 
stamp = pd.Timestamp('2012-03-12 01:30',tz='US/Eastern')
stamp

Timestamp('2012-03-12 01:30:00-0400', tz='US/Eastern')

In [ ]:
stamp + Hour()

In [ ]:
stamp = pd.Timestamp('2012-11-04 00:30',tz = 'US/Eastern')

In [ ]:
stamp

In [ ]:
stamp + 2 * Hour()

In [8]:
rng = pd.date_range('3/7/2012 9:30',periods = 10,freq='B')

In [107]:
ts = Series(np.random.randn(len(rng)),index=rng)

In [108]:
ts

2012-03-07 09:30:00    0.975069
2012-03-08 09:30:00    0.513150
2012-03-09 09:30:00   -1.122431
2012-03-12 09:30:00    0.711769
2012-03-13 09:30:00    0.097990
2012-03-14 09:30:00    2.573188
2012-03-15 09:30:00    2.377795
2012-03-16 09:30:00    0.746031
2012-03-19 09:30:00   -0.160717
2012-03-20 09:30:00    0.152984
Freq: B, dtype: float64

In [109]:
ts1 = ts[:7].tz_localize('Europe/London')

In [110]:
ts1

2012-03-07 09:30:00+00:00    0.975069
2012-03-08 09:30:00+00:00    0.513150
2012-03-09 09:30:00+00:00   -1.122431
2012-03-12 09:30:00+00:00    0.711769
2012-03-13 09:30:00+00:00    0.097990
2012-03-14 09:30:00+00:00    2.573188
2012-03-15 09:30:00+00:00    2.377795
Freq: B, dtype: float64

In [114]:
ts2 = ts1[2:].tz_convert('Europe/Moscow')
ts2

2012-03-09 13:30:00+04:00   -1.122431
2012-03-12 13:30:00+04:00    0.711769
2012-03-13 13:30:00+04:00    0.097990
2012-03-14 13:30:00+04:00    2.573188
2012-03-15 13:30:00+04:00    2.377795
Freq: B, dtype: float64

In [112]:
result = ts1 + ts2

In [113]:
result.index

DatetimeIndex(['2012-03-07 09:30:00+00:00', '2012-03-08 09:30:00+00:00',
               '2012-03-09 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='B')

In [9]:
p = pd.Period(2007,freq='A-DEC')

In [10]:
p

Period('2007', 'A-DEC')

In [11]:
p+5

Period('2012', 'A-DEC')

In [12]:
p-2

Period('2005', 'A-DEC')

In [13]:
pd.Period('2014',freq='A-DEC')-p

7

In [14]:
rng = pd.period_range('1/1/2000','6/30/2000',freq='M')

In [15]:
rng

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]', freq='M')

In [16]:
Series(np.random.randn(6),index=rng)

2000-01   -0.819608
2000-02    1.880148
2000-03   -0.202314
2000-04    0.055537
2000-05    0.460054
2000-06   -1.066341
Freq: M, dtype: float64

In [17]:
values = ['2001Q3','2002Q2','2003Q1']

In [19]:
index = pd.PeriodIndex(values,freq='Q-DEC')

In [20]:
index

PeriodIndex(['2001Q3', '2002Q2', '2003Q1'], dtype='period[Q-DEC]', freq='Q-DEC')

In [22]:
p = pd.Period('2007',freq='A-DEC')

In [23]:
p.asfreq('M',how='start')

Period('2007-01', 'M')

In [24]:
p.asfreq('M',how='end')

Period('2007-12', 'M')

In [28]:
p = pd.Period('2007',freq='A-JUN')

In [29]:
p

Period('2007', 'A-JUN')

In [30]:
p.asfreq('M','start')

Period('2006-07', 'M')

In [31]:
p.asfreq('M','end')

Period('2007-06', 'M')

In [32]:
p = pd.Period('2007-08','M')

In [33]:
p.asfreq('A-JUN')

Period('2008', 'A-JUN')

In [34]:
rng = pd.period_range('2006','2009',freq='A-DEC')

In [35]:
ts = Series(np.random.randn(len(rng)),index= rng)

In [36]:
ts

2006   -0.486822
2007   -1.039241
2008   -1.413212
2009   -0.300709
Freq: A-DEC, dtype: float64

In [37]:
ts.asfreq('M',how='start')

2006-01   -0.486822
2007-01   -1.039241
2008-01   -1.413212
2009-01   -0.300709
Freq: M, dtype: float64

In [38]:
ts.asfreq('B',how='end')

2006-12-29   -0.486822
2007-12-31   -1.039241
2008-12-31   -1.413212
2009-12-31   -0.300709
Freq: B, dtype: float64

In [39]:
p = pd.Period('2012Q4','Q-JAN')

In [40]:
p

Period('2012Q4', 'Q-JAN')

In [41]:
p.asfreq('D','start')

Period('2011-11-01', 'D')

In [42]:
p.asfreq('D','end')

Period('2012-01-31', 'D')

In [43]:
p4pm = (p.asfreq('B','e')-1).asfreq('T','s')+ 16*60

In [44]:
p4pm

Period('2012-01-30 16:00', 'T')

In [46]:
p4pm.to_timestamp()

Timestamp('2012-01-30 16:00:00')

In [47]:
rng = pd.period_range('2011Q3','2012Q4',freq='Q-JAN')

In [48]:
ts = Series(np.arange(len(rng)),index=rng)

In [49]:
ts

2011Q3    0
2011Q4    1
2012Q1    2
2012Q2    3
2012Q3    4
2012Q4    5
Freq: Q-JAN, dtype: int32

In [50]:
new_rng = (rng.asfreq('B','e')-1).asfreq('T','s')+ 16 * 60

In [51]:
ts.index = new_rng.to_timestamp()

In [52]:
ts

2010-10-28 16:00:00    0
2011-01-28 16:00:00    1
2011-04-28 16:00:00    2
2011-07-28 16:00:00    3
2011-10-28 16:00:00    4
2012-01-30 16:00:00    5
dtype: int32

In [53]:
rng  =pd.date_range('1/1/2000',periods=3,freq='M')

In [54]:
ts = Series(randn(3),index=rng)

NameError: name 'randn' is not defined